/* nav section */

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.header{
    background-image:url('../B12A01-landing-launchpad/Assets/Hero-bg.png') ;
    height: 500px;
    
    

    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 51.5px 150px;
  

}
nav a{
    text-decoration: none;   
      
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size:16px; 
    
    

}
nav h3{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 800;   
}
.title{
    text-align: center ;
    margin-top: 158px;
    margin-bottom: 200px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 150px;
}
.banner-title{
    font-weight: bold;
    font-size: 42px;
    
}
.banner-description{
    color: #252432;
    font-size: 24px;
}
.banner-img img{
    border: none;   
    border-radius: 48px;
}
.n-title{
    text-align: center;
    font-size: 38px;
    
}
.number{
    background-color:#ceeded;
    padding:50px 140px ;
    margin: 0px 200px;
}
.numbers{
    display: flex;
    justify-content: space-around;
}

.n-header{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.n-description{
    font-size: 20px;
    color: #000000;
}
.user-title{
    font-size: 42px;
    text-align: center;

}
.item-2{
    display: flex;
    
}
.date{
    font-weight: 400;
}
.flex{
    display: flex;
    justify-content: space-evenly;

}
.total-item{
    box-shadow: 2px 2px 5px;
    padding: 8px;
    border-radius: 5px;
}
.item-2 img{
    border-radius: 10px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 200px 300px;
    
    

}
.part1{
    font-size: 70px;

}
.part2{
    font-size: 2em;

}
 main input[type="text"]{
    height: 40px;
    width: 300px;
    display: block;
    font-size: 0.5em;

 }




